#SERVICE_ADDRESS=0.0.0.0
#SERVICE_PORT=53042
#INSECURE=False

#XRAY_ENABLED=True
#XRAY_EXECUTABLE_PATH=/usr/bin/xray
#XRAY_ASSETS_PATH=/usr/share/xray
#XRAY_CONFIG_PATH=/etc/xray/xray_config.json
#XRAY_VLESS_REALITY_FLOW=xtls-rprx-vision
#XRAY_RESTART_ON_FAILURE=False
#XRAY_RESTART_ON_FAILURE_INTERVAL=0


#HYSTERIA_ENABLED=False
#HYSTERIA_EXECUTABLE_PATH=/usr/bin/hysteria
#HYSTERIA_CONFIG_PATH=/etc/hysteria/config.yaml


#SING_BOX_ENABLED=False
#SING_BOX_EXECUTABLE_PATH=/usr/bin/sing-box
#SING_BOX_CONFIG_PATH=/etc/sing-box/config.json
#SING_BOX_RESTART_ON_FAILURE=False
#SING_BOX_RESTART_ON_FAILURE_INTERVAL=0
#SING_BOX_USER_MODIFICATION_INTERVAL=30

#SSL_KEY_FILE=./server.key
#SSL_CERT_FILE=./server.cert
#SSL_CLIENT_CERT_FILE=./client.cert

#DEBUG=True
#AUTH_GENERATION_ALGORITHM=xxh128
